<%= @user.username %>
<h1>Links</h1>

    <% @links.each do |link| %>
        <h1><%= link_to link.title,link_path(link) %></h1><br />


    <% end %> 

<br />
    <%= link_to 'Add link', new_link_path(@link) %> 
   


