<%= @user.username %>
<h1>Links</h1>

    <% @links.each do |link| %>
        <% if link.image.present? %>
            <%= image_tag link.image , class: "card-img-top" %>
        <% end %>
    <% end %>

 

<br />
    <%= link_to 'Add link', new_link_path(@link) %> 
   


