<nav class="navbar navbar-expand-lg navbar-light bg-white nav-bottom">
   <%= link_to 'Lifestyles', root_path, class: "navbar-brand text-muted" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to 'Back', root_path, class:"text-muted nav-link", style: "font-family: sans-serif; " %>
    </li>
        <%= render 'layouts/categories' %>
        <%= signed_in %>
</nav>